 .djs-editor {
   position: absolute;
   top: 90px;
   right: 20px;
   overflow: hidden;
   background-color: rgba(255, 255, 255, 0.9);
   border: solid 1px #CCC;
   border-radius: 2px;
   box-sizing: border-box;
   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
 }

 .djs-editor:not(.enabled) {
   color: #CCC;
   pointer-events: none;
 }

 .djs-editor.enabled {
   color: rgb(0, 0, 0);
 }

 .djs-editor:not(.open) {
   overflow: hidden;
 }
.toolbar #run {
font-family: "Material Icons", sans-serif;

}

 .run:before {
   content: "build" !important;
   
   width: 35px;
   height: 35px;
 }

 /* Style the buttons inside the navigation bar */

 .toolbar {
   display: none;
   width: 620px;
   height: 135px;
   margin-left: 40px;
 }

 .toolbar button {
   color: #180101;
   text-align: center;
   font-size: 24px;
   display: inline-block;
 }

 /* Change the color of buttons on hover */

 .toolbar button:hover {
   color: rgb(34, 226, 89);
 }

 .djs-editor .ide {
   display: none;
   width: 620px;
   height: 280px;
 }

 .djs-editor.open .ide {
   display: block;
 }

 .djs-editor.open .toolbar {
   display: block;
   text-align: left;
   line-height: 35px;
 }

 .djs-editor:not(.open) .toggle {
   width: 46px;
   height: 46px;
   line-height: 46px;
   content: "dvr" !important;
   text-align: center;
 }

 .djs-editor.open .toggle:before {
   font-family: "Material Icons", sans-serif;
   content: "close" !important;
   font-size: 24px;
 }

 .djs-editor:not(.open) .toggle:before {
   font-family: "Material Icons", sans-serif;
   content: "dvr" !important;
   font-size: 24px;
 }

 .djs-editor .toggle:before {
   content: attr(title);
 }

 .djs-editor.open .toggle {
   position: absolute;
   right: 0;
   padding: 6px;
   z-index: 1;
 }

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  height: 35px;
  color: white;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  /* text-decoration: none; */
  display: block;
}
.dropdown-content button {
  display: block;
  z-index: 2;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}